*{
  padding: 0;
  margin: 0;

  border-collapse: collapse;
  box-sizing: border-box;
  line-height: 180%;
  font-family: 'Noto Sans KR', sans-serif;
  word-break: keep-all;
}
div{
  width: 1200px;
  margin: 0 auto;

}
table{
  width: 100%;
  margin-top: 100px;
  table-layout: fixed;
  text-align: center;
  vertical-align: middle;
}
caption{
  font-weight: bold;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 100%;
}
caption span{
  text-indent: -9999px;
  position: absolute;
}
thead th{
  background-color: #014099;
  border-left: 1px solid #013071;
  padding: 16px 0;
  color:#fff;
  line-height: 150%;
}

tbody th{
  color:#333;
  border-bottom: 1px solid #ccc;
  background-color: #f4f4f4;

}

tbody td{
  color: #333;
  font-size: 14px;
  border-left :1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

tbody th,
tbody td {
  padding: 16px 23px;
}


thead tr:first-child{
  border:none;
}

#unit_1,
#unit_2,
#unit_3,
#unit_4,
#unit_5{
  border-left: 1px solid #ccc;
}
.left{
  text-align: left;
}

.empty{
  text-indent: -9999px;
}
